// --------------------------------------------
//                LOGO STYLES
// --------------------------------------------

.logo {
  display: flex;
  width: 120px;

  &__image {
    width: 100%;
  }
}
